GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSJOgpf8Lu7bmrAg5LdMPEGoNLNg_an9FKR0Ix-h27VWmzkIohrtwrISUkcs9c6Of26znTnXBamvrog/pub?output=csv
CONTACT_EMAIL=info@lakesidevillage.com
ANALYTICS_ID=
